.logo{
  
  display: flex;
  padding-left: 67px;
  padding-top: 113px;

  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 154px;

  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.firstHalf{
  color: #0B77F5;
}

.blurb{
  display: flex;
  padding-left: 680px;
  padding-top: 150px;
  font-size: 36px;
  line-height: 48px;
}