.list-container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.lists-title{
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.sections{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
}
.title{
 margin: 0;
}
.date{
  margin: 0;
}

.lists{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #404040;
  font-size: 40px;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  height: 75px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}
.list:hover{
  background-color: #2e2e2e;
}

.create-button{
  width: 250px;
  height: 70px;
  border-radius: 40px;
  background: #0B77F5;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  cursor: pointer;
}