.list-container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.list-title{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 70px;
  margin-bottom: 50px;
}


.lists{
  display: flex;
  justify-content: center;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  min-width: 1750px;
  min-height: 80px;
  border-radius: 10px;
  font-size: 40px;
}