.login-container{
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-wrap{
    width: 500px;
    height: 600px;
    background-color: #4e4e4e;
    border-radius: 10px;
}

.login-title{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 48px;
    padding-bottom: 50px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}
.form-username{
    padding-right: -1px;
}
input{
    background: none;
    border: none;
    height: 30px;
    outline: none;
    border-bottom: black 1px solid;
    color: white;
}