.note-container{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: 200px;
}

.note-title{
  display: flex;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.note-text{
  background-color: #3E3E3E;
  height: 600px;
  margin-right: 200px;
  font-size: 24px;
}